[submodule "peanuts"]
	path = peanuts
	url = git@github.com:thecoshman/peanuts.git
[submodule "pinkpill"]
	path = pinkpill
	url = git@github.com:thecoshman/pinkpill.git
[submodule "gldr"]
	path = gldr
	url = git@github.com:GLDRorg/GLDR.git
